node_modules/
.env
*.env.local
dist/
.coverage/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
playwright-report/
.lighthouseci/
localstack-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
